-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: 127.0.0.1    Database: xmas_event
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin_audit_log`
--

DROP TABLE IF EXISTS `admin_audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_audit_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `admin_id` int NOT NULL,
  `action` varchar(100) NOT NULL,
  `target_type` varchar(50) DEFAULT NULL,
  `target_id` varchar(100) DEFAULT NULL,
  `before_json` json DEFAULT NULL,
  `after_json` json DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_admin_audit_log_id` (`id`),
  KEY `ix_admin_audit_log_admin_id` (`admin_id`)
) ENGINE=InnoDB AUTO_INCREMENT=164 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_audit_log`
--

LOCK TABLES `admin_audit_log` WRITE;
/*!40000 ALTER TABLE `admin_audit_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_audit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_message`
--

DROP TABLE IF EXISTS `admin_message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_message` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sender_admin_id` int NOT NULL,
  `title` varchar(255) NOT NULL,
  `content` text NOT NULL,
  `target_type` varchar(50) NOT NULL,
  `target_value` varchar(255) DEFAULT NULL,
  `channels` json DEFAULT NULL,
  `recipient_count` int DEFAULT NULL,
  `read_count` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `is_deleted` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `ix_admin_message_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_message`
--

LOCK TABLES `admin_message` WRITE;
/*!40000 ALTER TABLE `admin_message` DISABLE KEYS */;
INSERT INTO `admin_message` VALUES (1,2,'a','test','USER','tg_8216057989_7c310233','[\"INBOX\"]',0,0,'2025-12-31 18:33:26',1),(2,2,'2026???덊빐 蹂?留롮씠 諛쏆쑝?몄슂','2025??怨좎깮 留롮쑝?⑥뒿?덈떎\n?됰났??2026???섏꽭?? ','ALL','','[\"INBOX\"]',4,2,'2025-12-31 18:57:21',1),(3,2,'肄붾뱶吏媛?1/2(湲? 諛?9???뺤떇?곗묶','?덊빐 蹂?留롮씠 諛쏆쑝?몄슂?셽\n肄붾뱶吏媛??낃렇?덉씠?쒕줈 \n?덈궡媛 ??뿀?듬땲?? \n遺덊렪 ?쒕젮 二꾩넚?⑸땲??n?덊빐 蹂?留롮씠 諛쏆쑝?쒓퀬 ?쒕텇?쒕텇 \n??嫄닿컯?섏떆怨?嫄댁듅?섏떆湲?諛붾엻?덈떎\n\n?낆퐫?쒖?媛?李먯컧李먯컡留됰쭑 ?낃?\n?낃쾶???곗폆 ?꾩옱 ?뺤긽?댁슜媛??n?낅퀎??濡쒓렇???놁씠 ?붾젅洹몃옩 ?묒냽???먮룞\n?ㅄ?곗뺨誘몄뀡 4醫?\n?ㅄ寃뚯엫 +200 ?넎 -50\n\n?좑툘異⑹쟾??諛섏쁺 ?덈궡\n\n異⑹쟾??諛섏쁺? ?몃? 鍮꾧났媛?API濡?\n?댁쁺?먭? ?뺤씤 ??泥섎━?⑸땲??\n\n?노컲???쒓컙 (留ㅼ씪)\n09~20?? 留ㅼ떆 ?뺢컖\n20~24?? 4?쒓컙 ?⑥쐞\n00~09?? 以묐떒(?듭씪 9???ш컻)','ALL','','[\"INBOX\"]',13,7,'2026-01-02 12:17:22',0),(4,2,'?곗뺨 誘몄뀡?대??','- ?묒냽?섎㈃ ?먮룞?쇰줈 誘몄뀡李??ㅽ뵂\n- 4媛??꾨즺?섎㈃ ?먮룞 吏湲?n- ?꾨즺 ?꾧퉴吏??怨꾩냽 吏꾪뻾 (1/31源뚯?)\n\n誘몄뀡????蹂댁씠硫??됰꽕?? ?붾㈃?ㅼ꺑 二쇱꽭??','ALL','','[\"INBOX\"]',15,6,'2026-01-02 13:31:05',0),(5,2,'?ㄹ ?멸린 ?⑦궎吏 異붿쿇','1留?泥レ땐: 二쇱궗??\n10留? 1?? 二쇱궗??\n20留? 2?? 二쇱궗??+蹂듦텒1\n50留? 3?? ?곗폆?10\n?⑥씪?낃툑留??뺤궛, \n?대깽?몃뒗 ?섎（ 2?뚭퉴吏.','ALL','','[\"INBOX\"]',15,5,'2026-01-02 13:33:48',1),(6,2,'?ㄹ?멸린 ?⑦궎吏 ?곸슜愿??,'?ㅽ???1留?泥レ땐) 二쇱궗????n留쏅낫湲?10留?1??) 二쇱궗????n踰좎뒪??20留?2??) 二쇱궗????蹂듦텒1??nVIP 50留?3??) ?곗폆? 10??n\n?⑥씪 ?낃툑 湲곗? ?뺤궛. \n?대깽??1??1??2???쒖젙.','ALL','','[\"INBOX\"]',14,6,'2026-01-02 23:47:35',0),(7,2,'TEST','TEST','USER','tg_40074587_ad5fc2ac','[\"INBOX\"]',1,1,'2026-01-04 14:34:29',1),(8,2,'?댁젣 ?곗폆 嫄깆젙 ?놁씠 利먭린?몄슂! ??,'???쎄퀬 ??吏쒕┸?섍쾶!\n\n?? 臾댁뾿??諛붾뚯뿀?섏슂?\n?곗폆 ?섑삁 ?쒖뒪?? ?곗폆???놁뼱??留ㅼ씪 3踰?臾대즺 異⑹쟾!\n?곗냽 ?묒냽 蹂댁긽: 留ㅼ씪留ㅼ씪 1?뚮쭔 ?뚮젅?댄븯硫??곗냽異쒖꽍?몄젙 \n?ㅼ씠?꾨줈 ?몃깽?좊━?먯꽌 ?곗폆 援ъ엯 媛???몞\n\n?덈줈?뚯쭊 蹂대꼫???쒗깮??吏곸젒 寃쏀뿕?대낫?몄슂! \n','ALL','','[\"INBOX\"]',26,7,'2026-01-05 12:44:20',0),(9,2,'?덈뀞?섏꽭?? CC?됰꽕???뚮젮二쇱꽭??,'CC?됰꽕???뚮젮二쇱뀛?? \n?쒗깮 ???곸슜媛?ν븯?몄슂 \n1留뚯썝 苑곸쑝濡??섍컩?덈떎','USER','tg_8190230593_4c453854','[\"INBOX\"]',1,0,'2026-01-05 15:12:35',0),(10,2,'?덈뀞?섏꽭?? CC?됰꽕???뚮젮二쇱꽭??,' CC?됰꽕???뚮젮二쇱뀛??n?쒗깮?곸슜/ 1留?媛?멸??ㅼ닔 ?덉쑝?몄슂','USER','tg_8190230593_4c453854','[\"TELEGRAM\"]',1,0,'2026-01-05 15:13:34',0),(11,2,'	?덈뀞?섏꽭?? CC?됰꽕???뚮젮二쇱꽭??,'?덈뀞?섏꽭?? CC?됰꽕???뚮젮二쇱뀛??n?쒗깮 媛?ν븯?몄슂','USER','tg_5626594744_b1b3dc58','[\"TELEGRAM\"]',1,0,'2026-01-05 15:14:55',0),(12,2,'?ㅿ툘源쒖쭩?좊Ъ','留ㅼ씪 臾대즺 泥댄뿕?곗폆 3?μ쑝濡?n?ㅼ씠?꾨컺怨??곸젏?먯꽌 援먰솚?섏꽭?뷃윍?n?ㅻ뒛 源쒖쭩 蹂듦텒 1?μ뵫 ??吏湲됲빐?⑥뒿?덈떎','ALL','','[\"TELEGRAM\"]',28,0,'2026-01-06 03:57:43',1),(13,2,'源쒖쭩?좊Ъ?ㅿ툘','留ㅼ씪 臾대즺 泥댄뿕?곗폆 3?μ쑝濡?n?ㅼ씠?꾨컺怨??곸젏?먯꽌 援먰솚?섏꽭?뷃윍?n?ㅻ뒛 源쒖쭩 蹂듦텒 1?μ뵫 ??吏湲됲빐?⑥뒿?덈떎','ALL','','[\"TELEGRAM\"]',28,8,'2026-01-06 03:58:24',0);
/*!40000 ALTER TABLE `admin_message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_message_inbox`
--

DROP TABLE IF EXISTS `admin_message_inbox`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_message_inbox` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `message_id` int NOT NULL,
  `is_read` tinyint(1) DEFAULT NULL,
  `read_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_admin_message_inbox_id` (`id`),
  KEY `ix_admin_message_inbox_message_id` (`message_id`),
  KEY `ix_admin_message_inbox_user_id` (`user_id`),
  CONSTRAINT `admin_message_inbox_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE,
  CONSTRAINT `admin_message_inbox_ibfk_2` FOREIGN KEY (`message_id`) REFERENCES `admin_message` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=148 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_message_inbox`
--

LOCK TABLES `admin_message_inbox` WRITE;
/*!40000 ALTER TABLE `admin_message_inbox` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_message_inbox` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_user_profile`
--

DROP TABLE IF EXISTS `admin_user_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_user_profile` (
  `user_id` int NOT NULL,
  `external_id` varchar(100) DEFAULT NULL,
  `real_name` varchar(100) DEFAULT NULL,
  `phone_number` varchar(50) DEFAULT NULL,
  `telegram_id` varchar(100) DEFAULT NULL,
  `tags` json DEFAULT NULL,
  `memo` text,
  `total_active_days` int DEFAULT NULL,
  `days_since_last_charge` int DEFAULT NULL,
  `last_active_date_str` varchar(50) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`user_id`),
  KEY `ix_admin_user_profile_telegram_id` (`telegram_id`),
  KEY `ix_admin_user_profile_external_id` (`external_id`),
  CONSTRAINT `admin_user_profile_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_user_profile`
--

LOCK TABLES `admin_user_profile` WRITE;
/*!40000 ALTER TABLE `admin_user_profile` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_user_profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alembic_version`
--

DROP TABLE IF EXISTS `alembic_version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alembic_version` (
  `version_num` varchar(32) NOT NULL,
  PRIMARY KEY (`version_num`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alembic_version`
--

LOCK TABLES `alembic_version` WRITE;
/*!40000 ALTER TABLE `alembic_version` DISABLE KEYS */;
INSERT INTO `alembic_version` VALUES ('20260106_0730_add_user_streak');
/*!40000 ALTER TABLE `alembic_version` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_ui_config`
--

DROP TABLE IF EXISTS `app_ui_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_ui_config` (
  `id` int NOT NULL AUTO_INCREMENT,
  `key` varchar(100) NOT NULL,
  `value_json` json DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_app_ui_config_key` (`key`),
  KEY `ix_app_ui_config_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_ui_config`
--

LOCK TABLES `app_ui_config` WRITE;
/*!40000 ALTER TABLE `app_ui_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_ui_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dice_config`
--

DROP TABLE IF EXISTS `dice_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dice_config` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `max_daily_plays` int NOT NULL,
  `win_reward_type` varchar(50) NOT NULL,
  `win_reward_amount` int NOT NULL,
  `draw_reward_type` varchar(50) NOT NULL,
  `draw_reward_amount` int NOT NULL,
  `lose_reward_type` varchar(50) NOT NULL,
  `lose_reward_amount` int NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_dice_config_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dice_config`
--

LOCK TABLES `dice_config` WRITE;
/*!40000 ALTER TABLE `dice_config` DISABLE KEYS */;
INSERT INTO `dice_config` VALUES (1,'2026001',1,0,'NONE',400,'NONE',0,'NONE',-200,'2025-12-31 16:57:17','2026-01-06 07:42:56');
/*!40000 ALTER TABLE `dice_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dice_log`
--

DROP TABLE IF EXISTS `dice_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dice_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `config_id` int NOT NULL,
  `user_dice_1` int NOT NULL,
  `user_dice_2` int NOT NULL,
  `user_sum` int NOT NULL,
  `dealer_dice_1` int NOT NULL,
  `dealer_dice_2` int NOT NULL,
  `dealer_sum` int NOT NULL,
  `result` varchar(10) NOT NULL,
  `reward_type` varchar(50) NOT NULL,
  `reward_amount` int NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `config_id` (`config_id`),
  KEY `ix_dice_log_id` (`id`),
  KEY `ix_dice_log_user_created_at` (`user_id`,`created_at`),
  CONSTRAINT `dice_log_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE,
  CONSTRAINT `dice_log_ibfk_2` FOREIGN KEY (`config_id`) REFERENCES `dice_config` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=306 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dice_log`
--

LOCK TABLES `dice_log` WRITE;
/*!40000 ALTER TABLE `dice_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `dice_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `external_ranking_data`
--

DROP TABLE IF EXISTS `external_ranking_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `external_ranking_data` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `deposit_amount` int NOT NULL,
  `play_count` int NOT NULL,
  `deposit_remainder` int NOT NULL,
  `daily_base_deposit` int NOT NULL,
  `daily_base_play` int NOT NULL,
  `last_daily_reset` date DEFAULT NULL,
  `memo` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_external_ranking_user` (`user_id`),
  KEY `ix_external_ranking_data_id` (`id`),
  KEY `ix_external_ranking_data_user_id` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `external_ranking_data`
--

LOCK TABLES `external_ranking_data` WRITE;
/*!40000 ALTER TABLE `external_ranking_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `external_ranking_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `external_ranking_reward_log`
--

DROP TABLE IF EXISTS `external_ranking_reward_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `external_ranking_reward_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `reward_type` varchar(50) NOT NULL,
  `reward_amount` int NOT NULL,
  `reason` varchar(100) NOT NULL,
  `season_name` varchar(50) NOT NULL,
  `data_id` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `data_id` (`data_id`),
  KEY `ix_external_ranking_reward_log_id` (`id`),
  KEY `ix_external_ranking_reward_log_user_id` (`user_id`),
  CONSTRAINT `external_ranking_reward_log_ibfk_1` FOREIGN KEY (`data_id`) REFERENCES `external_ranking_data` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `external_ranking_reward_log`
--

LOCK TABLES `external_ranking_reward_log` WRITE;
/*!40000 ALTER TABLE `external_ranking_reward_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `external_ranking_reward_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feature_config`
--

DROP TABLE IF EXISTS `feature_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feature_config` (
  `id` int NOT NULL AUTO_INCREMENT,
  `feature_type` enum('ROULETTE','DICE','LOTTERY','RANKING','SEASON_PASS','NONE') NOT NULL,
  `title` varchar(100) NOT NULL,
  `page_path` varchar(100) NOT NULL,
  `is_enabled` tinyint(1) NOT NULL,
  `config_json` json DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_feature_config_feature_type` (`feature_type`),
  KEY `ix_feature_config_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feature_config`
--

LOCK TABLES `feature_config` WRITE;
/*!40000 ALTER TABLE `feature_config` DISABLE KEYS */;
INSERT INTO `feature_config` VALUES (1,'ROULETTE','Christmas Roulette','/roulette',1,NULL,'2026-01-01 01:00:58','2026-01-01 01:00:58'),(2,'SEASON_PASS','Season Pass','/season-pass',1,NULL,'2026-01-01 01:00:58','2026-01-01 01:00:58'),(3,'DICE','Christmas Dice','/dice',1,NULL,'2026-01-01 01:00:58','2026-01-01 01:00:58'),(4,'LOTTERY','Christmas Lottery','/lottery',1,NULL,'2026-01-01 01:00:58','2026-01-01 01:00:58'),(5,'RANKING','Christmas Ranking','/ranking',1,NULL,'2026-01-01 01:00:58','2026-01-01 01:00:58');
/*!40000 ALTER TABLE `feature_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feature_schedule`
--

DROP TABLE IF EXISTS `feature_schedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feature_schedule` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `feature_type` enum('ROULETTE','DICE','LOTTERY','RANKING','SEASON_PASS','NONE') NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_feature_schedule_date` (`date`),
  KEY `ix_feature_schedule_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feature_schedule`
--

LOCK TABLES `feature_schedule` WRITE;
/*!40000 ALTER TABLE `feature_schedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `feature_schedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lottery_config`
--

DROP TABLE IF EXISTS `lottery_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lottery_config` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `max_daily_tickets` int NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_lottery_config_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lottery_config`
--

LOCK TABLES `lottery_config` WRITE;
/*!40000 ALTER TABLE `lottery_config` DISABLE KEYS */;
INSERT INTO `lottery_config` VALUES (1,'2026001',1,30,'2025-12-31 16:26:28','2026-01-01 08:23:17');
/*!40000 ALTER TABLE `lottery_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lottery_log`
--

DROP TABLE IF EXISTS `lottery_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lottery_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `config_id` int NOT NULL,
  `prize_id` int NOT NULL,
  `reward_type` varchar(50) NOT NULL,
  `reward_amount` int NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `config_id` (`config_id`),
  KEY `prize_id` (`prize_id`),
  KEY `ix_lottery_log_id` (`id`),
  KEY `ix_lottery_log_user_created_at` (`user_id`,`created_at`),
  CONSTRAINT `lottery_log_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE,
  CONSTRAINT `lottery_log_ibfk_2` FOREIGN KEY (`config_id`) REFERENCES `lottery_config` (`id`) ON DELETE CASCADE,
  CONSTRAINT `lottery_log_ibfk_3` FOREIGN KEY (`prize_id`) REFERENCES `lottery_prize` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=118 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lottery_log`
--

LOCK TABLES `lottery_log` WRITE;
/*!40000 ALTER TABLE `lottery_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `lottery_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lottery_prize`
--

DROP TABLE IF EXISTS `lottery_prize`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lottery_prize` (
  `id` int NOT NULL AUTO_INCREMENT,
  `config_id` int NOT NULL,
  `label` varchar(100) NOT NULL,
  `reward_type` varchar(50) NOT NULL,
  `reward_amount` int NOT NULL,
  `weight` int NOT NULL,
  `stock` int DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_lottery_prize_label` (`config_id`,`label`),
  KEY `ix_lottery_prize_id` (`id`),
  CONSTRAINT `lottery_prize_ibfk_1` FOREIGN KEY (`config_id`) REFERENCES `lottery_config` (`id`) ON DELETE CASCADE,
  CONSTRAINT `ck_lottery_prize_stock_non_negative` CHECK (((`stock` is null) or (`stock` >= 0))),
  CONSTRAINT `ck_lottery_prize_weight_non_negative` CHECK ((`weight` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=171 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lottery_prize`
--

LOCK TABLES `lottery_prize` WRITE;
/*!40000 ALTER TABLE `lottery_prize` DISABLE KEYS */;
/*!40000 ALTER TABLE `lottery_prize` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mission`
--

DROP TABLE IF EXISTS `mission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` text,
  `category` enum('DAILY','WEEKLY','SPECIAL','NEW_USER') NOT NULL,
  `logic_key` varchar(100) NOT NULL,
  `action_type` varchar(50) DEFAULT NULL,
  `target_value` int NOT NULL,
  `reward_type` enum('NONE','DIAMOND','GOLD_KEY','DIAMOND_KEY','CASH_UNLOCK','TICKET_BUNDLE','TICKET_ROULETTE','TICKET_LOTTERY','TICKET_DICE') NOT NULL,
  `reward_amount` int NOT NULL,
  `xp_reward` int NOT NULL,
  `requires_approval` tinyint(1) DEFAULT NULL,
  `start_date` datetime DEFAULT NULL,
  `end_date` datetime DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `start_time` time DEFAULT NULL,
  `end_time` time DEFAULT NULL,
  `auto_claim` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_mission_logic_key` (`logic_key`),
  KEY `ix_mission_category` (`category`),
  KEY `ix_mission_id` (`id`),
  KEY `ix_mission_action_type` (`action_type`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mission`
--

LOCK TABLES `mission` WRITE;
/*!40000 ALTER TABLE `mission` DISABLE KEYS */;
INSERT INTO `mission` VALUES (1,'?곗씪由??좊Ъ','?쇱씪 濡쒓렇?몄떆 留ㅼ씪?좊Ъ ','DAILY','daily_login_gift','LOGIN',1,'DIAMOND',1,20,0,NULL,NULL,1,'2025-12-31 16:18:04',NULL,NULL,0),(3,'?ㅽ뵂湲곕뀗 寃뚯엫誘몄뀡','肄붾뱶吏媛?寃뚯엫 26??','WEEKLY','daily','PLAY_GAME',26,'DIAMOND',6,0,0,NULL,NULL,1,'2025-12-31 16:20:11',NULL,NULL,0),(5,'泥?寃뚯엫 ?뚮젅??,'?꾨Т 寃뚯엫?대굹 1???뚮젅?댄븯?몄슂.','NEW_USER','NEW_USER_PLAY_1','PLAY_GAME',1,'CASH_UNLOCK',2500,0,0,NULL,NULL,1,'2026-01-02 11:16:56',NULL,NULL,0),(6,'寃뚯엫 留덉뒪??(3??','寃뚯엫??3?????뚮젅?댄빐蹂댁꽭??','NEW_USER','NEW_USER_PLAY_3','PLAY_GAME',3,'CASH_UNLOCK',2500,0,0,NULL,NULL,1,'2026-01-02 11:16:56',NULL,NULL,0),(7,'吏誘쇱퐫??怨듭쑀?섍린','吏誘쇱퐫?쒕? 梨꾪똿李쎌뿉 怨듭쑀?섏꽭?? ','NEW_USER','NEW_USER_VIRAL','SHARE_WALLET',3,'CASH_UNLOCK',2500,0,0,NULL,NULL,1,'2026-01-02 11:16:56',NULL,NULL,0),(8,'2?쇱감 異쒖꽍 泥댄겕','?댁씪 ?ㅼ떆 ?묒냽?섏뿬 異쒖꽍泥댄겕瑜??꾨즺?섏꽭??','NEW_USER','NEW_USER_LOGIN_DAY2','LOGIN',2,'CASH_UNLOCK',2500,0,0,NULL,NULL,1,'2026-01-02 11:16:56',NULL,NULL,0);
/*!40000 ALTER TABLE `mission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ranking_daily`
--

DROP TABLE IF EXISTS `ranking_daily`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ranking_daily` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `user_id` int DEFAULT NULL,
  `display_name` varchar(50) NOT NULL,
  `score` int NOT NULL,
  `rank` int NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_ranking_daily_date_rank` (`date`,`rank`),
  KEY `user_id` (`user_id`),
  KEY `ix_ranking_daily_id` (`id`),
  CONSTRAINT `ranking_daily_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ranking_daily`
--

LOCK TABLES `ranking_daily` WRITE;
/*!40000 ALTER TABLE `ranking_daily` DISABLE KEYS */;
/*!40000 ALTER TABLE `ranking_daily` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roulette_config`
--

DROP TABLE IF EXISTS `roulette_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roulette_config` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `ticket_type` varchar(50) NOT NULL DEFAULT 'ROULETTE_COIN',
  `is_active` tinyint(1) NOT NULL,
  `max_daily_spins` int NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_roulette_config_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roulette_config`
--

LOCK TABLES `roulette_config` WRITE;
/*!40000 ALTER TABLE `roulette_config` DISABLE KEYS */;
INSERT INTO `roulette_config` VALUES (1,'2026001','ROULETTE_COIN',1,0,'2025-12-31 16:17:18','2025-12-31 16:17:18'),(2,'2026002','GOLD_KEY',1,0,'2025-12-31 18:21:51','2025-12-31 18:21:56'),(3,'2026003','DIAMOND_KEY',1,0,'2025-12-31 18:22:04','2025-12-31 18:22:07'),(4,'泥댄뿕 猷곕젢 (Practice)','TRIAL_TOKEN',1,0,'2026-01-04 07:41:48','2026-01-04 07:41:48');
/*!40000 ALTER TABLE `roulette_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roulette_log`
--

DROP TABLE IF EXISTS `roulette_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roulette_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `config_id` int NOT NULL,
  `segment_id` int NOT NULL,
  `reward_type` varchar(50) NOT NULL,
  `reward_amount` int NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `config_id` (`config_id`),
  KEY `segment_id` (`segment_id`),
  KEY `ix_roulette_log_user_created_at` (`user_id`,`created_at`),
  KEY `ix_roulette_log_id` (`id`),
  CONSTRAINT `roulette_log_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE,
  CONSTRAINT `roulette_log_ibfk_2` FOREIGN KEY (`config_id`) REFERENCES `roulette_config` (`id`) ON DELETE CASCADE,
  CONSTRAINT `roulette_log_ibfk_3` FOREIGN KEY (`segment_id`) REFERENCES `roulette_segment` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=387 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roulette_log`
--

LOCK TABLES `roulette_log` WRITE;
/*!40000 ALTER TABLE `roulette_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `roulette_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roulette_segment`
--

DROP TABLE IF EXISTS `roulette_segment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roulette_segment` (
  `id` int NOT NULL AUTO_INCREMENT,
  `config_id` int NOT NULL,
  `slot_index` int NOT NULL,
  `label` varchar(50) NOT NULL,
  `reward_type` varchar(50) NOT NULL,
  `reward_amount` int NOT NULL,
  `weight` int NOT NULL,
  `is_jackpot` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_roulette_segment_slot` (`config_id`,`slot_index`),
  KEY `ix_roulette_segment_id` (`id`),
  CONSTRAINT `roulette_segment_ibfk_1` FOREIGN KEY (`config_id`) REFERENCES `roulette_config` (`id`) ON DELETE CASCADE,
  CONSTRAINT `ck_roulette_segment_slot_range` CHECK (((`slot_index` >= 0) and (`slot_index` <= 5))),
  CONSTRAINT `ck_roulette_segment_weight_non_negative` CHECK ((`weight` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=307 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roulette_segment`
--

LOCK TABLES `roulette_segment` WRITE;
/*!40000 ALTER TABLE `roulette_segment` DISABLE KEYS */;
/*!40000 ALTER TABLE `roulette_segment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `season_pass_config`
--

DROP TABLE IF EXISTS `season_pass_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `season_pass_config` (
  `id` int NOT NULL AUTO_INCREMENT,
  `season_name` varchar(100) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `max_level` int NOT NULL,
  `base_xp_per_stamp` int NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_season_name` (`season_name`),
  KEY `ix_season_pass_config_start_date` (`start_date`),
  KEY `ix_season_pass_config_end_date` (`end_date`),
  KEY `ix_season_pass_config_is_active` (`is_active`),
  KEY `ix_season_pass_config_id` (`id`),
  CONSTRAINT `ck_season_dates_order` CHECK ((`start_date` <= `end_date`))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `season_pass_config`
--

LOCK TABLES `season_pass_config` WRITE;
/*!40000 ALTER TABLE `season_pass_config` DISABLE KEYS */;
INSERT INTO `season_pass_config` VALUES (1,'2026001','2026-01-01','2026-01-31',20,20,1,'2026-01-01 01:00:58','2026-01-01 01:11:29');
/*!40000 ALTER TABLE `season_pass_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `season_pass_level`
--

DROP TABLE IF EXISTS `season_pass_level`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `season_pass_level` (
  `id` int NOT NULL AUTO_INCREMENT,
  `season_id` int NOT NULL,
  `level` int NOT NULL,
  `required_xp` int NOT NULL,
  `reward_type` varchar(50) NOT NULL,
  `reward_amount` int NOT NULL,
  `auto_claim` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_season_level` (`season_id`,`level`),
  KEY `ix_season_pass_level_id` (`id`),
  CONSTRAINT `season_pass_level_ibfk_1` FOREIGN KEY (`season_id`) REFERENCES `season_pass_config` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `season_pass_level`
--

LOCK TABLES `season_pass_level` WRITE;
/*!40000 ALTER TABLE `season_pass_level` DISABLE KEYS */;
/*!40000 ALTER TABLE `season_pass_level` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `season_pass_progress`
--

DROP TABLE IF EXISTS `season_pass_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `season_pass_progress` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `season_id` int NOT NULL,
  `current_level` int NOT NULL,
  `current_xp` int NOT NULL,
  `total_stamps` int NOT NULL,
  `last_stamp_date` date DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_user_season_progress` (`user_id`,`season_id`),
  KEY `season_id` (`season_id`),
  KEY `ix_season_pass_progress_id` (`id`),
  CONSTRAINT `season_pass_progress_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE,
  CONSTRAINT `season_pass_progress_ibfk_2` FOREIGN KEY (`season_id`) REFERENCES `season_pass_config` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=90 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `season_pass_progress`
--

LOCK TABLES `season_pass_progress` WRITE;
/*!40000 ALTER TABLE `season_pass_progress` DISABLE KEYS */;
/*!40000 ALTER TABLE `season_pass_progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `season_pass_reward_log`
--

DROP TABLE IF EXISTS `season_pass_reward_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `season_pass_reward_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `season_id` int NOT NULL,
  `progress_id` int DEFAULT NULL,
  `level` int NOT NULL,
  `reward_type` varchar(50) NOT NULL,
  `reward_amount` int NOT NULL,
  `claimed_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_reward_user_season_level` (`user_id`,`season_id`,`level`),
  KEY `season_id` (`season_id`),
  KEY `progress_id` (`progress_id`),
  KEY `ix_season_pass_reward_log_id` (`id`),
  CONSTRAINT `season_pass_reward_log_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE,
  CONSTRAINT `season_pass_reward_log_ibfk_2` FOREIGN KEY (`season_id`) REFERENCES `season_pass_config` (`id`) ON DELETE CASCADE,
  CONSTRAINT `season_pass_reward_log_ibfk_3` FOREIGN KEY (`progress_id`) REFERENCES `season_pass_progress` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=143 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `season_pass_reward_log`
--

LOCK TABLES `season_pass_reward_log` WRITE;
/*!40000 ALTER TABLE `season_pass_reward_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `season_pass_reward_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `season_pass_stamp_log`
--

DROP TABLE IF EXISTS `season_pass_stamp_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `season_pass_stamp_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `season_id` int NOT NULL,
  `progress_id` int DEFAULT NULL,
  `date` date NOT NULL,
  `period_key` varchar(32) NOT NULL,
  `stamp_count` int NOT NULL,
  `source_feature_type` varchar(30) NOT NULL,
  `xp_earned` int NOT NULL,
  `reward_type` varchar(50) NOT NULL,
  `reward_amount` int NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_stamp_user_season_period` (`user_id`,`season_id`,`source_feature_type`,`period_key`),
  KEY `season_id` (`season_id`),
  KEY `progress_id` (`progress_id`),
  KEY `ix_season_pass_stamp_log_id` (`id`),
  CONSTRAINT `season_pass_stamp_log_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE,
  CONSTRAINT `season_pass_stamp_log_ibfk_2` FOREIGN KEY (`season_id`) REFERENCES `season_pass_config` (`id`) ON DELETE CASCADE,
  CONSTRAINT `season_pass_stamp_log_ibfk_3` FOREIGN KEY (`progress_id`) REFERENCES `season_pass_progress` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `season_pass_stamp_log`
--

LOCK TABLES `season_pass_stamp_log` WRITE;
/*!40000 ALTER TABLE `season_pass_stamp_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `season_pass_stamp_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `segment_rule`
--

DROP TABLE IF EXISTS `segment_rule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `segment_rule` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(80) NOT NULL,
  `segment` varchar(50) NOT NULL,
  `priority` int NOT NULL,
  `enabled` tinyint(1) NOT NULL,
  `condition_json` json NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_segment_rule_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `segment_rule`
--

LOCK TABLES `segment_rule` WRITE;
/*!40000 ALTER TABLE `segment_rule` DISABLE KEYS */;
/*!40000 ALTER TABLE `segment_rule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `survey`
--

DROP TABLE IF EXISTS `survey`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `survey` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(150) NOT NULL,
  `description` text,
  `status` enum('DRAFT','ACTIVE','PAUSED','ARCHIVED') NOT NULL,
  `channel` enum('GLOBAL','SEASON_PASS','ROULETTE','DICE','LOTTERY','TEAM_BATTLE') NOT NULL,
  `target_segment_json` json DEFAULT NULL,
  `reward_json` json DEFAULT NULL,
  `auto_launch` tinyint(1) NOT NULL,
  `start_at` datetime DEFAULT NULL,
  `end_at` datetime DEFAULT NULL,
  `created_by` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `survey_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `user` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `survey`
--

LOCK TABLES `survey` WRITE;
/*!40000 ALTER TABLE `survey` DISABLE KEYS */;
/*!40000 ALTER TABLE `survey` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `survey_option`
--

DROP TABLE IF EXISTS `survey_option`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `survey_option` (
  `id` int NOT NULL AUTO_INCREMENT,
  `question_id` int NOT NULL,
  `value` varchar(100) NOT NULL,
  `label` varchar(150) NOT NULL,
  `order_index` int NOT NULL,
  `weight` int NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `question_id` (`question_id`),
  CONSTRAINT `survey_option_ibfk_1` FOREIGN KEY (`question_id`) REFERENCES `survey_question` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `survey_option`
--

LOCK TABLES `survey_option` WRITE;
/*!40000 ALTER TABLE `survey_option` DISABLE KEYS */;
/*!40000 ALTER TABLE `survey_option` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `survey_question`
--

DROP TABLE IF EXISTS `survey_question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `survey_question` (
  `id` int NOT NULL AUTO_INCREMENT,
  `survey_id` int NOT NULL,
  `order_index` int NOT NULL,
  `randomize_group` varchar(50) DEFAULT NULL,
  `question_type` enum('SINGLE_CHOICE','MULTI_CHOICE','LIKERT','TEXT','NUMBER') NOT NULL,
  `title` varchar(255) NOT NULL,
  `helper_text` varchar(255) DEFAULT NULL,
  `is_required` tinyint(1) NOT NULL,
  `config_json` json DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_survey_question_order` (`survey_id`,`order_index`),
  CONSTRAINT `survey_question_ibfk_1` FOREIGN KEY (`survey_id`) REFERENCES `survey` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `survey_question`
--

LOCK TABLES `survey_question` WRITE;
/*!40000 ALTER TABLE `survey_question` DISABLE KEYS */;
/*!40000 ALTER TABLE `survey_question` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `survey_response`
--

DROP TABLE IF EXISTS `survey_response`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `survey_response` (
  `id` int NOT NULL AUTO_INCREMENT,
  `survey_id` int NOT NULL,
  `user_id` int NOT NULL,
  `trigger_rule_id` int DEFAULT NULL,
  `status` enum('PENDING','IN_PROGRESS','COMPLETED','DROPPED','EXPIRED') NOT NULL,
  `started_at` datetime DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  `dropped_at` datetime DEFAULT NULL,
  `reward_status` enum('NONE','SCHEDULED','GRANTED','FAILED') NOT NULL,
  `reward_payload` json DEFAULT NULL,
  `last_question_id` int DEFAULT NULL,
  `last_activity_at` datetime NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `survey_id` (`survey_id`),
  KEY `user_id` (`user_id`),
  KEY `trigger_rule_id` (`trigger_rule_id`),
  KEY `last_question_id` (`last_question_id`),
  CONSTRAINT `survey_response_ibfk_1` FOREIGN KEY (`survey_id`) REFERENCES `survey` (`id`) ON DELETE CASCADE,
  CONSTRAINT `survey_response_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE,
  CONSTRAINT `survey_response_ibfk_3` FOREIGN KEY (`trigger_rule_id`) REFERENCES `survey_trigger_rule` (`id`) ON DELETE SET NULL,
  CONSTRAINT `survey_response_ibfk_4` FOREIGN KEY (`last_question_id`) REFERENCES `survey_question` (`id`) ON DELETE SET NULL,
  CONSTRAINT `ck_survey_reward_status` CHECK ((`reward_status` in (_utf8mb4'NONE',_utf8mb4'SCHEDULED',_utf8mb4'GRANTED',_utf8mb4'FAILED')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `survey_response`
--

LOCK TABLES `survey_response` WRITE;
/*!40000 ALTER TABLE `survey_response` DISABLE KEYS */;
/*!40000 ALTER TABLE `survey_response` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `survey_response_answer`
--

DROP TABLE IF EXISTS `survey_response_answer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `survey_response_answer` (
  `id` int NOT NULL AUTO_INCREMENT,
  `response_id` int NOT NULL,
  `question_id` int NOT NULL,
  `option_id` int DEFAULT NULL,
  `answer_text` text,
  `answer_number` int DEFAULT NULL,
  `meta_json` json DEFAULT NULL,
  `answered_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_response_question` (`response_id`,`question_id`),
  KEY `question_id` (`question_id`),
  KEY `option_id` (`option_id`),
  CONSTRAINT `survey_response_answer_ibfk_1` FOREIGN KEY (`response_id`) REFERENCES `survey_response` (`id`) ON DELETE CASCADE,
  CONSTRAINT `survey_response_answer_ibfk_2` FOREIGN KEY (`question_id`) REFERENCES `survey_question` (`id`) ON DELETE CASCADE,
  CONSTRAINT `survey_response_answer_ibfk_3` FOREIGN KEY (`option_id`) REFERENCES `survey_option` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `survey_response_answer`
--

LOCK TABLES `survey_response_answer` WRITE;
/*!40000 ALTER TABLE `survey_response_answer` DISABLE KEYS */;
/*!40000 ALTER TABLE `survey_response_answer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `survey_trigger_rule`
--

DROP TABLE IF EXISTS `survey_trigger_rule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `survey_trigger_rule` (
  `id` int NOT NULL AUTO_INCREMENT,
  `survey_id` int NOT NULL,
  `trigger_type` enum('LEVEL_UP','INACTIVE_DAYS','GAME_RESULT','MANUAL_PUSH') NOT NULL,
  `trigger_config_json` json DEFAULT NULL,
  `priority` int NOT NULL,
  `cooldown_hours` int NOT NULL,
  `max_per_user` int NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `survey_id` (`survey_id`),
  CONSTRAINT `survey_trigger_rule_ibfk_1` FOREIGN KEY (`survey_id`) REFERENCES `survey` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `survey_trigger_rule`
--

LOCK TABLES `survey_trigger_rule` WRITE;
/*!40000 ALTER TABLE `survey_trigger_rule` DISABLE KEYS */;
/*!40000 ALTER TABLE `survey_trigger_rule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team`
--

DROP TABLE IF EXISTS `team`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `team` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `icon` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_team_name` (`name`),
  KEY `ix_team_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team`
--

LOCK TABLES `team` WRITE;
/*!40000 ALTER TABLE `team` DISABLE KEYS */;
/*!40000 ALTER TABLE `team` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team_event_log`
--

DROP TABLE IF EXISTS `team_event_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `team_event_log` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `team_id` int NOT NULL,
  `user_id` int DEFAULT NULL,
  `season_id` int NOT NULL,
  `action` varchar(50) NOT NULL,
  `delta` int NOT NULL,
  `meta` json DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `team_id` (`team_id`),
  KEY `idx_tel_season_team` (`season_id`,`team_id`,`created_at`),
  KEY `idx_tel_user` (`user_id`),
  CONSTRAINT `team_event_log_ibfk_1` FOREIGN KEY (`team_id`) REFERENCES `team` (`id`) ON DELETE CASCADE,
  CONSTRAINT `team_event_log_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE SET NULL,
  CONSTRAINT `team_event_log_ibfk_3` FOREIGN KEY (`season_id`) REFERENCES `team_season` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team_event_log`
--

LOCK TABLES `team_event_log` WRITE;
/*!40000 ALTER TABLE `team_event_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `team_event_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team_member`
--

DROP TABLE IF EXISTS `team_member`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `team_member` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `team_id` int NOT NULL,
  `role` varchar(10) NOT NULL,
  `joined_at` datetime NOT NULL,
  PRIMARY KEY (`user_id`),
  KEY `idx_team_member_team` (`team_id`),
  CONSTRAINT `team_member_ibfk_1` FOREIGN KEY (`team_id`) REFERENCES `team` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team_member`
--

LOCK TABLES `team_member` WRITE;
/*!40000 ALTER TABLE `team_member` DISABLE KEYS */;
/*!40000 ALTER TABLE `team_member` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team_score`
--

DROP TABLE IF EXISTS `team_score`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `team_score` (
  `team_id` int NOT NULL,
  `season_id` int NOT NULL,
  `points` bigint NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`team_id`,`season_id`),
  UNIQUE KEY `uq_team_score` (`team_id`,`season_id`),
  KEY `idx_team_score_points` (`season_id`,`points`),
  CONSTRAINT `team_score_ibfk_1` FOREIGN KEY (`team_id`) REFERENCES `team` (`id`) ON DELETE CASCADE,
  CONSTRAINT `team_score_ibfk_2` FOREIGN KEY (`season_id`) REFERENCES `team_season` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team_score`
--

LOCK TABLES `team_score` WRITE;
/*!40000 ALTER TABLE `team_score` DISABLE KEYS */;
/*!40000 ALTER TABLE `team_score` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team_season`
--

DROP TABLE IF EXISTS `team_season`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `team_season` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `starts_at` datetime NOT NULL,
  `ends_at` datetime NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `rewards_schema` json DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_team_season_name` (`name`),
  KEY `ix_team_season_id` (`id`),
  KEY `idx_team_season_time` (`starts_at`,`ends_at`),
  KEY `idx_team_season_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team_season`
--

LOCK TABLES `team_season` WRITE;
/*!40000 ALTER TABLE `team_season` DISABLE KEYS */;
/*!40000 ALTER TABLE `team_season` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `telegram_link_code`
--

DROP TABLE IF EXISTS `telegram_link_code`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `telegram_link_code` (
  `code` varchar(16) NOT NULL,
  `user_id` int NOT NULL,
  `expires_at` datetime NOT NULL,
  `used_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `client_ip` varchar(50) DEFAULT NULL,
  `user_agent` text,
  PRIMARY KEY (`code`),
  KEY `ix_telegram_link_code_code` (`code`),
  KEY `ix_telegram_link_code_user_id` (`user_id`),
  CONSTRAINT `telegram_link_code_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `telegram_link_code`
--

LOCK TABLES `telegram_link_code` WRITE;
/*!40000 ALTER TABLE `telegram_link_code` DISABLE KEYS */;
/*!40000 ALTER TABLE `telegram_link_code` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trial_token_bucket`
--

DROP TABLE IF EXISTS `trial_token_bucket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trial_token_bucket` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `token_type` enum('ROULETTE_COIN','DICE_TOKEN','TRIAL_TOKEN','LOTTERY_TICKET','CC_COIN','GOLD_KEY','DIAMOND_KEY','DIAMOND') NOT NULL,
  `balance` int NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_trial_token_bucket_user_token` (`user_id`,`token_type`),
  KEY `ix_trial_token_bucket_user_id` (`user_id`),
  KEY `ix_trial_token_bucket_id` (`id`),
  CONSTRAINT `trial_token_bucket_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=109 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trial_token_bucket`
--

LOCK TABLES `trial_token_bucket` WRITE;
/*!40000 ALTER TABLE `trial_token_bucket` DISABLE KEYS */;
/*!40000 ALTER TABLE `trial_token_bucket` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `external_id` varchar(100) NOT NULL,
  `nickname` varchar(100) DEFAULT NULL,
  `password_hash` varchar(128) DEFAULT NULL,
  `level` int NOT NULL DEFAULT '1',
  `xp` int NOT NULL DEFAULT '0',
  `status` varchar(20) NOT NULL,
  `last_login_at` datetime DEFAULT NULL,
  `last_login_ip` varchar(45) DEFAULT NULL,
  `vault_balance` int NOT NULL DEFAULT '0',
  `vault_locked_balance` int NOT NULL DEFAULT '0',
  `vault_available_balance` int NOT NULL DEFAULT '0',
  `vault_locked_expires_at` datetime DEFAULT NULL,
  `cash_balance` int NOT NULL DEFAULT '0',
  `vault_fill_used_at` datetime DEFAULT NULL,
  `next_season_seed` int NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `diamond_key_count` int NOT NULL DEFAULT '0',
  `last_free_ticket_claimed_at` datetime DEFAULT NULL,
  `has_completed_onboarding` tinyint(1) DEFAULT NULL,
  `telegram_id` bigint DEFAULT NULL,
  `telegram_username` varchar(100) DEFAULT NULL,
  `telegram_is_blocked` tinyint(1) NOT NULL DEFAULT '0',
  `telegram_join_count` int NOT NULL DEFAULT '0',
  `first_login_at` datetime DEFAULT NULL,
  `telegram_link_nonce` varchar(64) DEFAULT NULL,
  `telegram_link_nonce_expires_at` datetime DEFAULT NULL,
  `total_charge_amount` int NOT NULL DEFAULT '0',
  `play_streak` int NOT NULL DEFAULT '0',
  `last_play_date` date DEFAULT NULL,
  `streak_vault_bonus_date` date DEFAULT NULL,
  `streak_vault_bonus_started_at` datetime DEFAULT NULL,
  `login_streak` int NOT NULL DEFAULT '0',
  `last_streak_updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `external_id` (`external_id`),
  UNIQUE KEY `ix_user_telegram_id` (`telegram_id`),
  KEY `ix_user_nickname` (`nickname`),
  KEY `ix_user_id` (`id`),
  KEY `ix_user_created_at` (`created_at`),
  KEY `idx_user_streak` (`play_streak`,`last_play_date`),
  KEY `idx_user_login_streak` (`login_streak`)
) ENGINE=InnoDB AUTO_INCREMENT=89 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES (2,'admin','Admin','03e59d56734f443d81e9f244ef89dbc1e3f9a6951c96733be15d2a144f04d5d2',1,0,'ACTIVE','2026-01-09 02:07:59','149.40.54.67',0,0,0,NULL,0,NULL,0,'2025-12-31 16:10:41','2026-01-09 02:07:59',0,NULL,0,NULL,NULL,0,0,NULL,NULL,NULL,0,0,NULL,NULL,NULL,1,'2026-01-09 02:07:59'),(7,'tg_6085974841_9660ff34','percipic',NULL,4,60,'ACTIVE','2026-01-09 01:12:22',NULL,4650,4650,0,NULL,0,NULL,0,'2026-01-01 01:58:24','2026-01-09 01:12:49',0,NULL,0,6085974841,'dpo090',0,4,'2026-01-01 01:58:24',NULL,NULL,140000,2,'2026-01-06',NULL,NULL,0,NULL),(9,'tg_2049846755_d36896d2','?щ━?ㅽ넗??,NULL,7,180,'ACTIVE','2026-01-06 23:25:17',NULL,9510,9510,0,NULL,0,NULL,0,'2026-01-01 03:19:33','2026-01-06 23:25:17',0,NULL,0,2049846755,NULL,0,5,'2026-01-01 03:19:33',NULL,NULL,800000,2,'2026-01-06',NULL,NULL,0,NULL),(12,'tg_1387125026_681b52c2','遊꾧퐙??,NULL,8,280,'ACTIVE','2026-01-04 10:24:10',NULL,3750,3750,0,NULL,0,NULL,0,'2026-01-02 04:38:51','2026-01-06 03:47:14',0,NULL,0,1387125026,'chogyuwan007',0,2,'2026-01-02 04:38:51',NULL,NULL,1200000,0,NULL,NULL,NULL,0,NULL),(14,'tg_8157048749_2c8ec2e5','珥덈낫踰좏꽣',NULL,1,0,'ACTIVE',NULL,NULL,0,0,0,NULL,0,NULL,0,'2026-01-02 11:58:28','2026-01-02 23:39:27',0,NULL,0,8157048749,'kkh9281',0,1,'2026-01-02 11:58:28',NULL,NULL,0,0,NULL,NULL,NULL,0,NULL),(15,'tg_5240054244_70bbbc00','?덈㉧?덈룉',NULL,1,0,'ACTIVE','2026-01-04 00:40:52',NULL,560,560,0,NULL,0,NULL,0,'2026-01-02 11:58:28','2026-01-04 00:47:14',0,NULL,0,5240054244,'Skxnww',0,3,'2026-01-02 11:58:28',NULL,NULL,0,0,NULL,NULL,NULL,0,NULL),(16,'tg_1249639412_381ce4ec','?쇰벑?뱀꺼',NULL,1,0,'ACTIVE','2026-01-06 15:38:58',NULL,700,700,0,NULL,0,NULL,0,'2026-01-02 12:06:45','2026-01-06 15:38:58',0,NULL,0,1249639412,'kmins22',0,1,'2026-01-02 12:06:45',NULL,NULL,0,0,NULL,NULL,NULL,0,NULL),(17,'tg_7192872944_7a9397a0','誘쇰삓??,NULL,8,220,'ACTIVE','2026-01-09 01:24:54',NULL,17350,17350,0,'2026-01-06 11:41:58',0,NULL,0,'2026-01-02 12:12:28','2026-01-09 01:25:10',0,NULL,0,7192872944,'kloi222',0,3,'2026-01-02 12:12:28',NULL,NULL,900000,1,'2026-01-08',NULL,NULL,0,NULL),(18,'tg_8338823321_d9695d15','?숈텛',NULL,8,220,'ACTIVE','2026-01-07 04:37:29',NULL,1800,1800,0,NULL,0,NULL,0,'2026-01-02 12:39:45','2026-01-07 04:37:29',0,NULL,0,8338823321,'?숈텛',0,1,'2026-01-02 12:39:45',NULL,NULL,1110000,1,'2026-01-06',NULL,NULL,0,NULL),(19,'tg_7764179799_bcbff0e3','?몄긽?李?,NULL,1,0,'ACTIVE',NULL,NULL,1950,1950,0,NULL,0,NULL,0,'2026-01-02 13:19:19','2026-01-02 23:39:01',0,NULL,0,7764179799,'',0,1,'2026-01-02 13:19:19',NULL,NULL,0,0,NULL,NULL,NULL,0,NULL),(20,'tg_5787179040_d48286fc','?섏씠?ㅻ퉬',NULL,1,0,'ACTIVE','2026-01-03 19:40:56',NULL,2920,2920,0,NULL,0,NULL,0,'2026-01-02 16:41:48','2026-01-03 19:43:55',0,NULL,0,5787179040,'Zzzzzpty',0,3,'2026-01-02 16:41:48',NULL,NULL,0,0,NULL,NULL,NULL,0,NULL),(21,'tg_5721857928_a216cbc4','tg_user_5721857928',NULL,1,0,'ACTIVE',NULL,NULL,0,0,0,NULL,0,NULL,0,'2026-01-02 23:04:03','2026-01-03 01:32:43',0,NULL,0,5721857928,'',0,1,'2026-01-02 23:04:03',NULL,NULL,0,0,NULL,NULL,NULL,0,NULL),(22,'tg_1981255322_c86689ff','?덈뵲臾듭웼',NULL,1,0,'ACTIVE','2026-01-03 17:42:15',NULL,0,0,0,NULL,0,NULL,0,'2026-01-02 23:13:27','2026-01-03 17:42:15',0,NULL,0,1981255322,'DAoN044',0,4,'2026-01-02 23:13:27',NULL,NULL,0,0,NULL,NULL,NULL,0,NULL),(23,'tg_7292051908_c61e9929','肄⑹씠??,NULL,4,90,'ACTIVE','2026-01-07 03:17:15',NULL,11100,11100,0,NULL,0,NULL,0,'2026-01-03 01:40:47','2026-01-07 03:17:49',0,NULL,0,7292051908,'hklee93',0,2,'2026-01-03 01:40:47',NULL,NULL,100000,1,'2026-01-06',NULL,NULL,0,NULL),(24,'tg_766455411_17661174','?꾩궗移?,NULL,8,280,'ACTIVE',NULL,NULL,2800,2800,0,NULL,0,NULL,0,'2026-01-03 02:42:54','2026-01-06 03:46:10',0,NULL,0,766455411,'?꾩궗移?,0,1,'2026-01-03 02:42:54',NULL,NULL,1300000,0,NULL,NULL,NULL,0,NULL),(25,'tg_8101149602_1b6f13d1','peace30922L',NULL,1,0,'ACTIVE',NULL,NULL,0,0,0,NULL,0,NULL,0,'2026-01-03 03:23:05','2026-01-03 03:23:05',0,NULL,0,8101149602,'peace30922L',0,1,'2026-01-03 03:23:05',NULL,NULL,0,0,NULL,NULL,NULL,0,NULL),(26,'tg_40074587_ad5fc2ac','jm956',NULL,4,80,'ACTIVE','2026-01-06 19:24:19',NULL,39550,39550,0,NULL,0,NULL,0,'2026-01-03 03:54:56','2026-01-07 05:50:14',0,NULL,0,40074587,'jm956',0,2,'2026-01-03 03:54:56',NULL,NULL,0,2,'2026-01-07',NULL,NULL,0,NULL),(27,'tg_7690760913_660aae01','?쇱삤?ㅼ삤',NULL,7,180,'ACTIVE','2026-01-08 22:45:23',NULL,14460,14460,0,NULL,0,NULL,0,'2026-01-03 05:30:30','2026-01-08 23:24:12',0,NULL,0,7690760913,'ppalqo',0,2,'2026-01-03 05:30:30',NULL,NULL,260000,4,'2026-01-09',NULL,NULL,0,NULL),(29,'tg_7973906786_1f2eed9c','湲고봽??,NULL,7,180,'ACTIVE','2026-01-05 19:25:06',NULL,5310,5310,0,NULL,0,NULL,0,'2026-01-03 07:55:06','2026-01-06 08:36:08',0,NULL,0,7973906786,NULL,0,2,'2026-01-03 07:55:06',NULL,NULL,800000,1,'2026-01-06',NULL,NULL,0,NULL),(30,'tg_8372420683_ccc1be57','?깅???,NULL,8,200,'ACTIVE','2026-01-08 07:37:48',NULL,8600,8600,30,'2026-01-05 10:48:03',0,NULL,0,'2026-01-03 07:55:15','2026-01-08 07:37:48',0,NULL,0,8372420683,'dyddns2211',0,1,'2026-01-03 07:55:15',NULL,NULL,920000,1,'2026-01-06',NULL,NULL,0,NULL),(32,'tg_6310828178_ae7b10cc','tg_user_6310828178',NULL,1,0,'ACTIVE','2026-01-07 03:55:35',NULL,710,710,0,NULL,0,NULL,0,'2026-01-03 12:38:13','2026-01-07 03:55:35',0,NULL,0,6310828178,NULL,0,1,'2026-01-03 12:38:13',NULL,NULL,0,0,NULL,NULL,NULL,0,NULL),(33,'tg_8536015035_e7b280b1','而ㅽ뵾?щ옉',NULL,11,780,'ACTIVE',NULL,NULL,400,400,0,NULL,0,NULL,0,'2026-01-03 13:26:55','2026-01-06 08:36:00',0,NULL,0,8536015035,NULL,0,1,'2026-01-03 13:26:55',NULL,NULL,3759313,0,NULL,NULL,NULL,0,NULL),(34,'tg_7449140066_79a27e7b','oneway3333',NULL,1,0,'ACTIVE',NULL,NULL,0,0,0,NULL,0,NULL,0,'2026-01-03 15:09:30','2026-01-03 15:09:30',0,NULL,0,7449140066,'oneway3333',0,1,'2026-01-03 15:09:30',NULL,NULL,0,0,NULL,NULL,NULL,0,NULL),(35,'tg_5626594744_b1b3dc58','tg_user_5626594744',NULL,1,0,'ACTIVE','2026-01-06 00:54:10',NULL,650,650,0,NULL,0,NULL,0,'2026-01-03 22:44:28','2026-01-06 00:54:10',0,NULL,0,5626594744,NULL,0,1,'2026-01-03 22:44:28',NULL,NULL,0,0,NULL,NULL,NULL,0,NULL),(42,'tg_7079646029_052c58a5','醫낆씠?뺣떂',NULL,1,0,'ACTIVE',NULL,NULL,0,0,0,NULL,0,NULL,0,'2026-01-04 16:39:14','2026-01-05 14:23:02',0,NULL,0,7079646029,'dmdmadi',0,1,'2026-01-04 16:39:14',NULL,NULL,0,0,NULL,NULL,NULL,0,NULL),(73,'tg_8190230593_4c453854','tg_user_8190230593',NULL,1,0,'ACTIVE','2026-01-05 13:00:52',NULL,0,0,0,NULL,0,NULL,0,'2026-01-05 13:00:52','2026-01-05 13:00:52',0,NULL,0,8190230593,NULL,0,1,'2026-01-05 13:00:52',NULL,NULL,0,0,NULL,NULL,NULL,0,NULL),(74,'tg_7894084400_da0e8b95','?됱?',NULL,1,0,'ACTIVE','2026-01-05 13:09:03',NULL,200,200,0,NULL,0,NULL,0,'2026-01-05 13:09:03','2026-01-05 14:22:56',0,NULL,0,7894084400,'tnr_dhud',0,1,'2026-01-05 13:09:03',NULL,NULL,0,1,'2026-01-05',NULL,NULL,0,NULL),(78,'tg_1744393509_f7c9578f','?붽린 ??,NULL,2,20,'ACTIVE','2026-01-07 09:15:35',NULL,10100,10100,0,NULL,0,NULL,0,'2026-01-06 04:26:54','2026-01-07 09:17:01',0,NULL,0,1744393509,'dgidgidd',0,1,'2026-01-06 04:26:54',NULL,NULL,0,1,'2026-01-06',NULL,NULL,0,NULL),(82,'tg_7917738315_8536cedc','?쇰젆?쒕뱶',NULL,1,0,'ACTIVE','2026-01-06 09:10:06',NULL,-50,-50,0,NULL,0,NULL,0,'2026-01-06 09:10:06','2026-01-06 09:14:17',0,NULL,0,7917738315,'ysc46544',0,1,'2026-01-06 09:10:06',NULL,NULL,0,1,'2026-01-06',NULL,NULL,0,NULL),(83,'tg_5046849502_4a924fe9','泥쒖젣 源',NULL,1,0,'ACTIVE','2026-01-06 09:10:47',NULL,350,350,0,NULL,0,NULL,0,'2026-01-06 09:10:47','2026-01-06 09:13:45',0,NULL,0,5046849502,'cj2261',0,1,'2026-01-06 09:10:47',NULL,NULL,0,1,'2026-01-06',NULL,NULL,0,NULL),(84,'tg_6595280106_0bef7f62','Mindi Dryer',NULL,1,0,'ACTIVE','2026-01-08 07:24:20',NULL,350,350,0,NULL,0,NULL,0,'2026-01-07 11:28:43','2026-01-08 07:28:12',0,NULL,0,6595280106,'rlckd207',0,1,'2026-01-07 11:28:43',NULL,NULL,0,1,'2026-01-08',NULL,NULL,0,NULL),(85,'tg_2068641155_d8efb851','?⑸낫 ??,NULL,1,0,'ACTIVE','2026-01-07 14:45:31',NULL,0,0,0,NULL,0,NULL,0,'2026-01-07 14:45:31','2026-01-07 14:45:31',0,NULL,0,2068641155,NULL,0,1,'2026-01-07 14:45:31',NULL,NULL,0,0,NULL,NULL,NULL,0,NULL),(86,'tg_5562085376_534f4b05','?꾨뵲',NULL,1,0,'ACTIVE','2026-01-07 15:29:47',NULL,0,0,0,NULL,0,NULL,0,'2026-01-07 15:29:47','2026-01-07 15:29:47',0,NULL,0,5562085376,'tojangee',0,1,'2026-01-07 15:29:47',NULL,NULL,0,0,NULL,NULL,NULL,0,NULL);
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_activity`
--

DROP TABLE IF EXISTS `user_activity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_activity` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `last_login_at` datetime DEFAULT NULL,
  `last_charge_at` datetime DEFAULT NULL,
  `last_play_at` datetime DEFAULT NULL,
  `roulette_plays` int NOT NULL DEFAULT '0',
  `dice_plays` int NOT NULL DEFAULT '0',
  `lottery_plays` int NOT NULL DEFAULT '0',
  `total_play_duration` int NOT NULL DEFAULT '0',
  `last_bonus_used_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_user_activity_user` (`user_id`),
  KEY `ix_user_activity_id` (`id`),
  KEY `ix_user_activity_user_updated_at` (`user_id`,`updated_at`),
  KEY `ix_user_activity_user_id` (`user_id`),
  CONSTRAINT `user_activity_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_activity`
--

LOCK TABLES `user_activity` WRITE;
/*!40000 ALTER TABLE `user_activity` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_activity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_activity_event`
--

DROP TABLE IF EXISTS `user_activity_event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_activity_event` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `event_id` varchar(36) NOT NULL,
  `event_type` varchar(50) NOT NULL,
  `duration_seconds` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_user_activity_event_event_id` (`event_id`),
  KEY `ix_user_activity_event_id` (`id`),
  KEY `ix_user_activity_event_user_id` (`user_id`),
  KEY `ix_user_activity_event_user_created` (`user_id`,`created_at`),
  CONSTRAINT `user_activity_event_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=779 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_activity_event`
--

LOCK TABLES `user_activity_event` WRITE;
/*!40000 ALTER TABLE `user_activity_event` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_activity_event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_cash_ledger`
--

DROP TABLE IF EXISTS `user_cash_ledger`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_cash_ledger` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `delta` int NOT NULL,
  `balance_after` int NOT NULL,
  `reason` varchar(100) DEFAULT NULL,
  `label` varchar(255) DEFAULT NULL,
  `meta_json` json DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_user_cash_ledger_user_id` (`user_id`),
  KEY `ix_user_cash_ledger_id` (`id`),
  CONSTRAINT `user_cash_ledger_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=197 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_cash_ledger`
--

LOCK TABLES `user_cash_ledger` WRITE;
/*!40000 ALTER TABLE `user_cash_ledger` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_cash_ledger` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_event_log`
--

DROP TABLE IF EXISTS `user_event_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_event_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `feature_type` varchar(30) NOT NULL,
  `event_name` varchar(50) NOT NULL,
  `meta_json` json DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_user_event_log_id` (`id`),
  KEY `ix_user_event_log_user_created_at` (`user_id`,`created_at`),
  KEY `ix_user_event_log_event_name` (`event_name`),
  CONSTRAINT `user_event_log_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=774 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_event_log`
--

LOCK TABLES `user_event_log` WRITE;
/*!40000 ALTER TABLE `user_event_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_event_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_game_wallet`
--

DROP TABLE IF EXISTS `user_game_wallet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_game_wallet` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `token_type` enum('ROULETTE_COIN','DICE_TOKEN','TRIAL_TOKEN','LOTTERY_TICKET','CC_COIN','GOLD_KEY','DIAMOND_KEY','DIAMOND') NOT NULL,
  `balance` int NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_user_token_type` (`user_id`,`token_type`),
  KEY `ix_user_game_wallet_user_id` (`user_id`),
  KEY `ix_user_game_wallet_id` (`id`),
  KEY `ix_user_game_wallet_token_type` (`token_type`),
  CONSTRAINT `user_game_wallet_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=225 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_game_wallet`
--

LOCK TABLES `user_game_wallet` WRITE;
/*!40000 ALTER TABLE `user_game_wallet` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_game_wallet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_game_wallet_ledger`
--

DROP TABLE IF EXISTS `user_game_wallet_ledger`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_game_wallet_ledger` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `token_type` enum('ROULETTE_COIN','DICE_TOKEN','TRIAL_TOKEN','LOTTERY_TICKET','CC_COIN','GOLD_KEY','DIAMOND_KEY','DIAMOND') NOT NULL,
  `delta` int NOT NULL,
  `balance_after` int NOT NULL,
  `reason` varchar(100) DEFAULT NULL,
  `label` varchar(255) DEFAULT NULL,
  `meta_json` json DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_user_game_wallet_ledger_user_id` (`user_id`),
  KEY `ix_user_game_wallet_ledger_created_at` (`created_at`),
  KEY `ix_user_game_wallet_ledger_id` (`id`),
  KEY `ix_user_game_wallet_ledger_token_type` (`token_type`),
  CONSTRAINT `user_game_wallet_ledger_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1525 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_game_wallet_ledger`
--

LOCK TABLES `user_game_wallet_ledger` WRITE;
/*!40000 ALTER TABLE `user_game_wallet_ledger` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_game_wallet_ledger` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_idempotency_key`
--

DROP TABLE IF EXISTS `user_idempotency_key`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_idempotency_key` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `scope` varchar(50) NOT NULL,
  `idempotency_key` varchar(128) NOT NULL,
  `request_hash` varchar(64) NOT NULL,
  `request_json` text NOT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'IN_PROGRESS',
  `response_json` text,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_user_idempotency_key_user_scope_key` (`user_id`,`scope`,`idempotency_key`),
  KEY `ix_user_idempotency_key_status` (`status`),
  KEY `ix_user_idempotency_key_id` (`id`),
  KEY `ix_user_idempotency_key_user_id` (`user_id`),
  KEY `ix_user_idempotency_key_scope` (`scope`),
  KEY `ix_user_idempotency_key_user_scope_created` (`user_id`,`scope`,`created_at`),
  CONSTRAINT `user_idempotency_key_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_idempotency_key`
--

LOCK TABLES `user_idempotency_key` WRITE;
/*!40000 ALTER TABLE `user_idempotency_key` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_idempotency_key` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_inventory_item`
--

DROP TABLE IF EXISTS `user_inventory_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_inventory_item` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `item_type` varchar(50) NOT NULL,
  `quantity` int NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_user_inventory_item_user_item` (`user_id`,`item_type`),
  KEY `ix_user_inventory_item_id` (`id`),
  KEY `ix_user_inventory_item_item_type` (`item_type`),
  KEY `ix_user_inventory_item_user_id` (`user_id`),
  CONSTRAINT `fk_user_inventory_item_user_id_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=55 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_inventory_item`
--

LOCK TABLES `user_inventory_item` WRITE;
/*!40000 ALTER TABLE `user_inventory_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_inventory_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_inventory_ledger`
--

DROP TABLE IF EXISTS `user_inventory_ledger`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_inventory_ledger` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `item_type` varchar(50) NOT NULL,
  `change_amount` int NOT NULL,
  `balance_after` int NOT NULL,
  `reason` varchar(100) NOT NULL,
  `related_id` varchar(100) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_user_inventory_ledger_id` (`id`),
  KEY `ix_user_inventory_ledger_item_type` (`item_type`),
  KEY `ix_user_inventory_ledger_user_id` (`user_id`),
  CONSTRAINT `fk_user_inventory_ledger_user_id_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=132 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_inventory_ledger`
--

LOCK TABLES `user_inventory_ledger` WRITE;
/*!40000 ALTER TABLE `user_inventory_ledger` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_inventory_ledger` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_level_progress`
--

DROP TABLE IF EXISTS `user_level_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_level_progress` (
  `user_id` int NOT NULL,
  `level` int NOT NULL,
  `xp` int NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`user_id`),
  CONSTRAINT `user_level_progress_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_level_progress`
--

LOCK TABLES `user_level_progress` WRITE;
/*!40000 ALTER TABLE `user_level_progress` DISABLE KEYS */;
INSERT INTO `user_level_progress` VALUES (9,1,120,'2026-01-04 05:33:06'),(12,1,80,'2026-01-04 05:34:58'),(17,3,140,'2026-01-05 11:37:13'),(18,2,100,'2026-01-04 09:39:58'),(24,1,120,'2026-01-04 00:12:29'),(26,1,20,'2026-01-03 13:44:02'),(27,1,20,'2026-01-03 07:26:00'),(29,1,80,'2026-01-04 09:43:18'),(30,2,100,'2026-01-04 05:33:44'),(33,4,620,'2026-01-03 13:43:49');
/*!40000 ALTER TABLE `user_level_progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_level_reward_log`
--

DROP TABLE IF EXISTS `user_level_reward_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_level_reward_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `level` int NOT NULL,
  `reward_type` varchar(50) NOT NULL,
  `reward_payload` json DEFAULT NULL,
  `auto_granted` tinyint(1) NOT NULL,
  `granted_by` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_user_level_reward` (`user_id`,`level`),
  KEY `ix_user_level_reward_log_id` (`id`),
  CONSTRAINT `user_level_reward_log_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_level_reward_log`
--

LOCK TABLES `user_level_reward_log` WRITE;
/*!40000 ALTER TABLE `user_level_reward_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_level_reward_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_mission_progress`
--

DROP TABLE IF EXISTS `user_mission_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_mission_progress` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `mission_id` int NOT NULL,
  `current_value` int NOT NULL,
  `is_completed` tinyint(1) DEFAULT NULL,
  `is_claimed` tinyint(1) DEFAULT NULL,
  `approval_status` enum('NONE','PENDING','APPROVED','REJECTED') NOT NULL DEFAULT 'NONE',
  `reset_date` varchar(50) NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_user_mission_reset` (`user_id`,`mission_id`,`reset_date`),
  KEY `ix_user_mission_progress_mission_id` (`mission_id`),
  KEY `ix_user_mission_progress_user_id` (`user_id`),
  KEY `ix_user_mission_progress_id` (`id`),
  KEY `ix_user_mission_progress_reset_date` (`reset_date`),
  CONSTRAINT `user_mission_progress_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE,
  CONSTRAINT `user_mission_progress_ibfk_2` FOREIGN KEY (`mission_id`) REFERENCES `mission` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=350 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_mission_progress`
--

LOCK TABLES `user_mission_progress` WRITE;
/*!40000 ALTER TABLE `user_mission_progress` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_mission_progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_segment`
--

DROP TABLE IF EXISTS `user_segment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_segment` (
  `user_id` int NOT NULL,
  `segment` varchar(50) NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`user_id`),
  CONSTRAINT `user_segment_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_segment`
--

LOCK TABLES `user_segment` WRITE;
/*!40000 ALTER TABLE `user_segment` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_segment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_xp_event_log`
--

DROP TABLE IF EXISTS `user_xp_event_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_xp_event_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `source` varchar(100) NOT NULL,
  `delta` int NOT NULL,
  `meta` json DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`),
  KEY `user_id` (`user_id`),
  KEY `ix_user_xp_event_log_id` (`id`),
  CONSTRAINT `user_xp_event_log_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_xp_event_log`
--

LOCK TABLES `user_xp_event_log` WRITE;
/*!40000 ALTER TABLE `user_xp_event_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_xp_event_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vault_earn_event`
--

DROP TABLE IF EXISTS `vault_earn_event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vault_earn_event` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `earn_event_id` varchar(128) NOT NULL,
  `earn_type` varchar(50) NOT NULL,
  `amount` int NOT NULL,
  `source` varchar(50) NOT NULL,
  `reward_kind` varchar(50) DEFAULT NULL,
  `game_type` varchar(50) DEFAULT NULL,
  `token_type` varchar(50) DEFAULT NULL,
  `payout_raw_json` json DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_vault_earn_event_earn_event_id` (`earn_event_id`),
  KEY `ix_vault_earn_event_user_created_at` (`user_id`,`created_at`),
  KEY `ix_vault_earn_event_id` (`id`),
  CONSTRAINT `vault_earn_event_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=908 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vault_earn_event`
--

LOCK TABLES `vault_earn_event` WRITE;
/*!40000 ALTER TABLE `vault_earn_event` DISABLE KEYS */;
/*!40000 ALTER TABLE `vault_earn_event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vault_program`
--

DROP TABLE IF EXISTS `vault_program`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vault_program` (
  `id` int NOT NULL AUTO_INCREMENT,
  `key` varchar(50) NOT NULL,
  `name` varchar(100) NOT NULL,
  `duration_hours` int NOT NULL DEFAULT '24',
  `expire_policy` varchar(30) NOT NULL DEFAULT 'FIXED_24H',
  `unlock_rules_json` json DEFAULT NULL,
  `ui_copy_json` json DEFAULT NULL,
  `config_json` json DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `key` (`key`),
  KEY `ix_vault_program_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vault_program`
--

LOCK TABLES `vault_program` WRITE;
/*!40000 ALTER TABLE `vault_program` DISABLE KEYS */;
/*!40000 ALTER TABLE `vault_program` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vault_status`
--

DROP TABLE IF EXISTS `vault_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vault_status` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `program_id` int NOT NULL,
  `state` varchar(20) NOT NULL DEFAULT 'LOCKED',
  `locked_amount` int NOT NULL DEFAULT '0',
  `available_amount` int NOT NULL DEFAULT '0',
  `progress_json` json DEFAULT NULL,
  `locked_at` datetime DEFAULT NULL,
  `expires_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_vault_status_id` (`id`),
  KEY `ix_vault_status_user_id` (`user_id`),
  KEY `ix_vault_status_program_id` (`program_id`),
  CONSTRAINT `fk_vault_status_program_id_vault_program` FOREIGN KEY (`program_id`) REFERENCES `vault_program` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_vault_status_user_id_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vault_status`
--

LOCK TABLES `vault_status` WRITE;
/*!40000 ALTER TABLE `vault_status` DISABLE KEYS */;
/*!40000 ALTER TABLE `vault_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vault_withdrawal_request`
--

DROP TABLE IF EXISTS `vault_withdrawal_request`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vault_withdrawal_request` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `amount` int NOT NULL,
  `status` varchar(20) NOT NULL,
  `admin_memo` varchar(255) DEFAULT NULL,
  `processed_at` datetime DEFAULT NULL,
  `processed_by` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_vault_withdrawal_request_id` (`id`),
  KEY `ix_vault_withdrawal_request_user_id` (`user_id`),
  CONSTRAINT `vault_withdrawal_request_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vault_withdrawal_request`
--

LOCK TABLES `vault_withdrawal_request` WRITE;
/*!40000 ALTER TABLE `vault_withdrawal_request` DISABLE KEYS */;
INSERT INTO `vault_withdrawal_request` VALUES (1,30,23100,'APPROVED',NULL,'2026-01-03 08:04:51',1,'2026-01-03 08:04:07','2026-01-03 08:04:51'),(2,30,10000,'APPROVED',NULL,'2026-01-04 05:39:08',1,'2026-01-04 05:38:21','2026-01-04 05:39:08');
/*!40000 ALTER TABLE `vault_withdrawal_request` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-09  2:20:20
