.progressBar {
  width: 100%;
  height: 100%;
  appearance: none;
  background: transparent;
}

.progressBar::-webkit-progress-bar {
  background: transparent;
}

.progressBar::-webkit-progress-value {
  background: linear-gradient(90deg, #818cf8 0%, #34d399 100%);
  border-radius: 9999px;
}

.progressBar::-moz-progress-bar {
  background: linear-gradient(90deg, #818cf8 0%, #34d399 100%);
  border-radius: 9999px;
}
